[Unit]
Description=Backend service

[Service]
User=expense
Environment=DB_HOST={{ MYSQL_HOST }}
Environment=DB_NAME=transactions
MYSQL_USER: root
LOGIN_PASSWORD: 8)Br.V*5F]24cmG*CQ(7N(H7h1L1
ExecStart=/bin/node /app/index.js
SyslogIdentifier=backend


[Install]
WantedBy=multi-user.target