
[Unit]
Description=Backend service

[Service]
User=expense
Environment=DB_HOST={{ MYSQL_HOST }}
Environment=DB_NAME=transactions
Environment=DB_USER=root
Environment=DB_PASSWORD='jAfuqJWjbvqx<JA~<7FKFtVh4!A5'

ExecStart=/bin/node /app/index.js
SyslogIdentifier=backend

[Install]
WantedBy=multi-user.target